* {
  font-family: "Lato", sans-serif;
  color: rgb(58, 58, 58);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 100px;
}

header ul {
    list-style: none;
    display: flex;
}

header li {
    margin: 0 5px;
    
}

header h1 {
  font-size: 2rem;
  font-weight: 300;
}

.description {
    font-weight: 300;
}


header a {
  text-decoration: none;
  font-weight: 200;
  font-size: 13px;
}

.description {
  text-align: center;
  margin: 20px;
}

.img-container {
  margin: 0 100px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: hidden;
  grid-gap: 10px;
}

.img-container img {
  width: 100%;
  height: auto;
}

#fb:hover {
  color: #365899;
}

#twitter:hover {
  color: #1da1f2;
}

#ig:hover {
  color: #c32aa3;
}

footer {
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  bottom: 0;
  height: 200px;
  margin-top: 200px;
  line-height: 1.7em;
  
}


footer h2 {
    font-size: 15px;
    font-weight: 400;
}

footer p {
    font-size: 12px;
}
footer li {
  list-style: none;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0;
    
}

footer div {
    margin: 0 100px;
}




ion-icon {
  font-size: 20px;
}

@media only screen and (max-width: 748px) {
  footer {
    flex-direction: column;
  }
  #fb {
    color: #365899;
  }
  #ig {
    color: #1da1f2;
  }
  #twitter {
    color: #c32aa3;
  }

  .img-container {
    margin: 0 10px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    overflow-x: hidden;
    grid-gap: 10px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
  }

  header h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  footer {
    background-color: rgb(242, 242, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    bottom: 0;
    line-height: 1.7em;
    text-align: center;
    margin: 50px 0;
  }

  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
footer li {
    margin: 0 5px;
}

  ion-icon {
    font-size: 25px;
  }

}
